<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세션이 만료되었습니다</title>
    <th:block th:replace="/part/meta.html"></th:block>
    <th:block th:replace="/part/css.html"></th:block>
</head>

<body class="body-text-size-medium body-padding-medium body-button-medium body-radius-none">
    <div class="page-container">
        <section>
            <div class="container">
                <div class="ready-page text-center padding-25-lr">
                    <h1 class="no-margin"><a class="cursor-default"><img src="/image/icon/start.png"></a>
                    </h1>
                    <h1 class="margin-30-top font-weight-100 letter-spacing-minus-1 sm-text-30">세션이 만료되었습니다</h1>
                    <h4 class="margin-15-top margin-10-bottom line-height-25 font-weight-100">재접속 부탁 드립니다</h4>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
