<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>아이디/비밀번호 찾기</title>
    <th:block th:replace="/part/meta.html"></th:block>
    <th:block th:replace="/part/css.html"></th:block>
</head>
<body th:classappend="${shop.shopCss.getBodyClass()}">
    <div class="page-container">
        <div th:if="${shop.isCommonMall()}">
            <th:block th:replace="/header/header.html"></th:block>
        </div>
        <div class="container fit-content flex-center">
            <div class="row">
                <div class="col-xs-12">
                    <section class="padding-section page-title-padding">
                        <div class="page-title color-title">
                            <h1>아이디/비밀번호 찾기</h1>
                            <h5 class="text-center text-gray margin-10-top">본인 인증을 통해 아이디와 비밀번호를 찾으실수 있습니다.</h5>
                        </div>
                    </section>
                    <section class="padding-section">
                        <div class="equalize clearfix">
                            <!-- ID 찾기 -->
                            <div class="col-md-6 col-sm-12 col-xs-12 sm-padding-0-lr sm-margin-40-bottom">
                                <div class="padding-50-all xs-padding-25-all border-all border-color-sub-light-gray radius-5">
                                    <form method="post" name="idFindForm" th:action="@{/customer/auth/req}">
                                        <input type="hidden" name="bsType" value="ID찾기">
                                        <fieldset>
                                            <h2 class="input_wrap_tit margin-10-bottom">아이디 찾기</h2>
                                            <h5 class="margin-20-bottom text-gray font-weight-400">개인정보이므로 본인인증 후에 확인하실 수 있습니다.</h5>
                                            <div class="input_wrap input-rounded small-rounded input-line-gray padding-0">
                                                <div class="width-100">
                                                    <button type="button" class="btn btn-point" onclick="openPCCWindow('id')">본인인증</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <!--// ID 찾기 -->
                            <!-- 비밀번호 찾기 -->
                            <div class="col-md-6 col-sm-12 col-xs-12 sm-padding-0-lr">
                                <div class="padding-50-all xs-padding-25-all border-all border-color-sub-light-gray radius-5">
                                    <form method="post" name="pwFindForm" id="pwFindForm" th:action="@{/customer/auth/req}">
                                        <input type="hidden" name="bsType" value="비밀번호찾기">
                                        <fieldset>
                                            <h2 class="input_wrap_tit margin-10-bottom">비밀번호 재설정</h2>
                                            <h5 class="margin-20-bottom text-gray font-weight-400">개인정보이므로 본인인증 후에 확인하실 수 있습니다.</h5>
                                            <div class="input_wrap input-rounded small-rounded input-line-gray padding-0">
                                                <div class="input_col no-margin">
                                                    <input type="text" class="form-control notHangul width-200px margin-5-right" id="CU_ID" name="CU_ID" placeholder="아이디" onkeypress="if(event.keyCode==13){pwAuthPopup()}">
                                                    <button type="button" id="postBtn" class="btn btn-point" onclick="openPCCWindow('pw')">본인인증</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <!--// 비밀번호 찾기 -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div th:if="${shop.isCommonMall()}">
            <th:block th:replace="/part/footer.html"></th:block>
        </div>
    </div>

    <th:block th:replace="/part/js.html"></th:block>
    <script th:inline="javascript">
        //핸드폰 본인인증
        function openPCCWindow(type){
            var formName;
            if(type == 'pw'){//비밀번호 재설정
                var id = $("#CU_ID");
                if(id == ''){
                    alert('아이디를 입력해주세요.');
                    id.focus();
                    return false;
                }
                formName = document.pwFindForm;
            }else{//아이디 찾기
                formName = document.idFindForm;
            }

            var PCC_window = window.open('', 'PCCV3Window', 'width=400, height=630, resizable=1, scrollbars=no, status=0, titlebar=0, toolbar=0, left=300, top=200' );

            // iframe형식으로 개발하시지 말아주십시오. iframe으로 개발 시 나오는 문제는 개발지원해드리지 않습니다.
            if(PCC_window == null){
                alert(" ※ 윈도우 XP SP2 또는 인터넷 익스플로러 7 사용자일 경우에는 \n    화면 상단에 있는 팝업 차단 알림줄을 클릭하여 팝업을 허용해 주시기 바랍니다. \n\n※ MSN,야후,구글 팝업 차단 툴바가 설치된 경우 팝업허용을 해주시기 바랍니다.");
            }

            //창을 오픈할때 크롬 및 익스플로어 양쪽 다 테스트 하시길 바랍니다.
            formName.target = 'PCCV3Window';
            formName.submit();
            return true;
        }
    </script>
</body>
</html>