<!-- 상품 그룹 관리(WEB) :: 타입 A - 대표 상품 + 슬라이드 상품리스트 (web-prd-type-a) -->

<div class="sm-display-none pd-ev-type-wrap web-type-layout web-prd-type-a" id="filterSec">
    <div class="section-title">
        <h1 th:text="${mso.productGroup.pgName}">상품그룹명</h1>
    </div>
    <div class="thumb-style thumb-rounded small-rounded thumb-bg gray"> <!-- 개별 클래스 요소 선택란 : 상품 썸네일 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-left" th:if="${mso.productGroup.pgImage}">
                    <form id="products">
                        <div class="width-100">
                            <div class="prod_style prod_style_grid">
                                <div class="row">
                                    <div class="col-xs-12 prod_event half-banner sm-padding-0-lr">
                                        <div class="prod_thumb_link main-prd-banner-thumb-wrap">
                                            <a th:href="@{|${mso.productGroup.pgImageUrl}|}" class="display-block">
                                                <img th:src="${mso.productGroup.pgImage}" th:alt="${mso.productGroup.pgName}" class="width-100">
                                                <div class="main-prd-banner-thumb">
                                                    <div class="display-table width-100 height-100">
                                                        <div class="display-table-cell text-left vertical-align-bottom">
                                                            <div class="text-wrap" th:if="${mso.productGroup.pgName}">
                                                                <!--<h4 class="sub-title" th:text="${mso.productGroup.pgName}">브랜드 기획전</h4>-->
                                                                <h2 class="main-title font-weight-700" th:text="${mso.productGroup.pgName}">그룹명</h2>
                                                                <!--<hr>-->
                                                                <!--<h4 class="more-text" th:text="${mso.productGroup.pgMemo}">메모</h4>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-sm-6 col-xs-12 col-right padding-0-lr">
                    <div class="width-100">
                        <div class="swiper-container-main-non-auto overflow-hidden circle-btn dp-btn center">
                            <ul class="swiper-wrapper">
                                <li class="col-xs-12 swiper-slide layout width-100" th:each="pgiPage: ${#numbers.sequence(1, __${mso.productGroup.pgiTotalPageMap(4)}__)}">
                                    <div class="prod_style prod_style_grid">
                                        <div class="row">
                                            <div class="col-xs-6 prod_event" th:each="sp : ${mso.productGroup.getListMap(pgiPage,4)}">
                                                <th:block th:replace="/product/p_block2.html"></th:block>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-button-prev"><span class="ti-angle-left arrow"></span></div>
                            <div class="swiper-button-next"><span class="ti-angle-right arrow"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // 상품 그룹 관리(WEB) :: 타입 A -->