<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>마이페이지 상품평</title>
    <th:block th:replace="/part/meta.html"></th:block>
    <th:block th:replace="/part/css.html"></th:block>
</head>
<body th:classappend="${shop.shopCss.getBodyClass()}">
    <div class="page-container">
        <th:block th:replace="/header/header.html"></th:block>
        <section class="padding-section">
            <div class="container">
                <div class="row">
                    <th:block th:replace="/myPage/comp/menu.html"></th:block>
                    <div class="col-xs-12 margin-40-top" id="myReviewList">
                        <input type="hidden" id="searchFlag" value="">
                        <input type="hidden" id="startDate" value="">
                        <input type="hidden" id="endDate" value="">
                        <input type="hidden" id="page" value="1">
                        <table class="table xs_table_block">
                            <thead class="xs-display-none">
                            <tr>
                                <th style="width:100px">번호</th>
                                <th style="width:auto">제목</th>
                                <th style="width:100px">작성일</th>
                                <th style="width:100px">조회수</th>
                                <th style="width:80px">별점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="review, i : ${reviews}">
                                <td data-title="유형"><b class="xs-float-right" th:text="${(paging.totalCount - ((paging.page - 1) * paging.listCount)) - i.index}">번호</b></td>
                                <td class="text-left">
                                    <p class="color-point"><b th:text="${review.rvTitle}">제목</b></p>
                                    <a th:href="@{|/myPage/review/detail/${review.rvIdx}|}" class="text-cut" th:text="${review.rvContent}">내용</a>
                                    <div class="display-none xs-display-block star-rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <div class="display-none xs-display-block text-11 margin-5-top">
                                        <span class="text-gray padding-10-right" th:text="${review.createdDate}">모바일 작성일</span>
                                        <span class="text-gray" th:text="${review.rvView}">모바일 조회수</span>
                                    </div>
                                </td>
                                <td class="xs-display-none" th:text="${review.createdDate}">작성일</td>
                                <td class="xs-display-none" th:text="${review.rvView}">조회수</td>
                                <td class="xs-display-none">
                                    <div class="star-rating pull-right">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div th:if="${#lists.isEmpty(reviews)}" class="data_none"><p>주문내역이 없습니다.</p></div>
                        <div class="text-center margin-30-top">
                            <a href="/board/reviewForm" class="btn btn-point float-right width-120px xs-width-100 height-40px">리뷰작성</a>
                        </div>
                        <div class="text-center" th:if="${not #lists.isEmpty(reviews)}">
                            <div class="pagination">
                                <a href="/myPage/review?page=1" class="arrow" id="prevAll"></a>

                                <th:block th:if="${paging.prevPage} < 0">
                                    <a th:href="@{|/myPage/review?page=1|}"  class="arrow" id="prev"></a>
                                </th:block>
                                <th:block th:unless="${paging.prevPage} < 0">
                                    <a th:href="@{|/myPage/review?page=${paging.prevPage}|}"  class="arrow" id="prev"></a>
                                </th:block>

                                <a th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}" th:href="@{|/myPage/review?page=${i}|}" th:class="${paging.page eq i} ? on" th:text="${i}">1</a>

                                <th:block th:if="${paging.nextPage} > ${paging.totalPage}">
                                    <a th:href="@{|/myPage/review?page=${paging.totalPage}|}" class="arrow" id="next"></a>
                                </th:block>
                                <th:block th:unless="${paging.nextPage} > ${paging.totalPage}">
                                    <a th:href="@{|/myPage/review?page=${paging.nextPage}|}" class="arrow" id="next"></a>
                                </th:block>

                                <a th:href="@{|/myPage/review?page=${paging.totalPage}|}" class="arrow" id="nextAll"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <th:block th:replace="/part/footer.html"></th:block>
    </div>

    <th:block th:replace="/part/js.html"></th:block>
    <script type="text/javascript" src="/js/board.js"></script>
</body>
</html>