<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<footer id="footer" class="sm-margin-50-bottom" th:classappend="${shop.getShopCss().getScFooter()}">
    <div class="container-fluid" th:if="${topNotice1}">
        <div class="row">
            <div class="footer-content-wrap xs-padding-15-tb">
                <div class="container">
                    <div class="footer-content">
                        <p class="title-main float-left">
                            <b><a th:href="@{|/board/detail/notice/${topNotice1.ntIdx}|}">공지사항</a></b>
                            <a th:href="@{|/board/detail/notice/${topNotice1.ntIdx}|}" class="title-sub" th:text="${topNotice1.ntTitle}">[공지] 시스템 점검 공지</a>
                        </p>
                        <p class="more-link float-right">
                            <a href="/board/notice">더보기<i class="ti-angle-right margin-5-left"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_nav_wrap">
        <div class="container position-relative">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="footer_nav padding-20-top" th:if="${shop.footerMenus}">
                        <li th:each="fms, i: ${shop.footerMenus}" th:if="${fms.getFmOrder()} > 0">
                            <th:block th:if="${fms.agreement != null}">
                                <!--/*개인정보처림방침만 bold처리*/-->
                                <a th:if="${#strings.equals(fms.fmTitle, '개인정보처리방침')}" th:href="@{|/agreement/${fms.agreement.agmIdx}|}"><b th:text="${fms.agreement.agmType.getName()}"></b></a>
                                <a th:unless="${#strings.equals(fms.fmTitle, '개인정보처리방침')}" th:href="@{|/agreement/${fms.agreement.agmIdx}|}" th:text="|${fms.agreement.agmType.getName()}|">푸터메뉴명</a>
                            </th:block>
                            <!--/*약관아닌 개별 푸터메뉴*/-->
                            <a th:unless="${fms.agreement != null}" th:text="${fms.fmTitle}" th:href="@{|${fms.fmUrl}|}" target="_blank">푸터메뉴명</a>
                        </li>
                    </ul>
                    <div class="footer-select select-rounded small-rounded select-line-gray prod_sort text-0 width-150px" th:if="${shop.familySites.size() gt 0}">
                        <select class="bg-transparent" id="familySelect" onchange="familySite()">
                            <option th:each="fs, i: ${shop.familySites}" th:if="${fs.getFsOrder()} > 0" th:value="${fs.getFsUrl()}" th:text="${fs.getFsTitle()}">사이트명</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="footerInfo">
        <div class="row position-relative">
            <div class="col-xs-12" >
                <p class="text-12 padding-15-top" th:utext="${shop.shopInfo.siNameMemo}">
                    <b>선물하기는 <th:block th:text="${shop.shopName}"> </th:block>의 제휴사인 갤럭시아머니트리에서 제공합니다.</b>
                    <br><th:block th:text="${shop.shopName}"> </th:block>은 갤럭시아 머니트리에서 운영하는 페이지에 연결하는 역할만 하는 통신판매중개자이며
                    , 서비스의 제공과 그 책임은 제휴사인 갤럭시아 머니트리에 있습니다.</p>
            </div>
            <div class="col-xs-12 padding-15-top">
                <div class="footer_info">
                    <p>
                        <b th:text="${shop.shopInfo.siName}">갤럭시아머니트리(주)</b>
                    </p>
                    <p th:text="|대표 : ${shop.shopInfo.siCeo}|">대표 : 신동훈</p>
                    <p th:text="|주소 : ${shop.shopInfo.siAddr}|">주소 : 서울시 강남구 광평로 281 수서오피스빌딩 15층(수서동)</p>
                    <p>
                        <span th:text="|사업자등록번호 : ${shop.shopInfo.siNumSaub}|" th:if="${shop.shopInfo.siNumSaub}"></span>
                        <span th:if="${shop.shopInfo.siNumSaub != null && shop.shopInfo.siNumTongpan != null}"> | </span>
                        <span th:text="|통신판매번호 : ${shop.shopInfo.siNumTongpan}|" th:if="${shop.shopInfo.siNumTongpan}"></span>
                    </p>
                    <p>고객센터 : <span th:text="${shop.shopInfo.siCsTel}">1566-0123</span></p>
                    <p th:if="${not #strings.isEmpty(shop.shopInfo.siCsTime)}">고객센터 이용시간 : <span th:utext="${shop.shopInfo.siCsTime}">9:00 ~ 18:00 <br> (12:00 ~ 13:00 점심시간)</span></p>
                    <address class="opacity6 margin-10-top no-margin-bottom text-11" th:text="${shop.shopInfo.siCopyright}">GalaxiaMoneytree Co, Ltd. All Rights Reserved.</address>
                </div>
                <div class="footer-info-right" th:if="${shop.snsList}">
                    <div class="footer_sns">
                        <div class="footer_sns">
                            <th:block th:each="sns, i: ${shop.snsList}">
                                <a th:href="${sns.snsUrl}" th:class="|sns${i.count}|" th:title="${sns.snsTitle}" target="_blank">
                                    <img th:src="${sns.snsThumbnail}">
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<!--플로팅바-->
<div th:if="${shop.isShopUseFloating()}">
    <th:block th:replace="/part/__${shop.shopCss.scFloatBorder}__.html" />
</div>

<!-- 모바일 퀵메뉴 -->
<aside id="mobile-quick" class="mobile-quick display-none sm-display-block">
    <ul>
        <li>
            <a href="/index" class="login-group-large color-point">
                <span class="icon ti-home"></span>
                홈
            </a>
        </li>

        <li>
            <a onclick="history.back();" class="login-group-large color-point">
                <span class="icon ti-arrow-left"></span>
                이전
            </a>
        </li>
        <li>
            <a onclick="history.forward();" class="login-group-large color-point">
                <span class="icon ti-arrow-right"></span>
                다음
            </a>
        </li>
        <li>
            <a th:href="@{/myPage/order}" class="login-group-large color-point">
                <span class="icon ti-user"></span>
                마이페이지
            </a>
        </li>
        <li th:if="${basketShow}">
            <a th:href="@{/order/cart/coupon}" class="login-group-large color-point">
                <span class="icon ti-bag"></span>
                장바구니
            </a>
        </li>
    </ul>
</aside>
<script th:inline="javascript">
    function familySite() {
        var url = $('#familySelect option:selected').val();
        if(url != '') {
            window.open(url);
        }
    }
</script>
<script th:inline="javascript">

</script>
</html>