<!-- 모달 페이지 시작 -->
<div class="modal" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">주문상세(타이틀 명칭 수정)</h4>
      </div>
      <div class="modal-body">
        <h3>기존 소스 입력 영역</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark pull-left" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-point">저장</button>
      </div>
    </div>
  </div>
</div>
<!-- 모달 페이지 끝 -->
